/*
  Leaving these colors as variables to update them
  when adding dark-mode support.
*/
:root {
  --background-color: rgb(253, 249, 250);
  --color: rgb(55, 55, 55);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: var(--color);
  background-color: var(--background-color);
  max-width: 1200px;
  margin: auto;
}

.logo {
    height: auto;
    width: clamp(100px, 30vw, 180px);
}

a {
  color: var(--color);
  text-decoration: none;
}