:root {
  --color: rgb(0, 0, 0);
  --background-color: rgb(255, 255, 255);
  --min-desktop-width: 810px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: var(--color);
  background-color: var(--background-color);
}

.background-video {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
}

.background-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 71% 100%;
  /* Center the chimney on the narrowest screen. */
}

.navbar-container {
  position: fixed;
  width: 100%;
  top: 0;
  backdrop-filter: blur(4px);
}

.navbar {
  max-width: 1300px;
  padding: 32px 96px 12px 96px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  display: block;
  padding: 8px;
}

.brand img {
  width: 160px;
  height: auto;
}

.cta {
  display: block;
  font-weight: 700;
  font-size: 0.9rem;
  background-color: var(--color);
  color: var(--background-color);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  /* right, down, fade, size */
  box-shadow: 0px 0px 5px 0px rgb(255, 255, 255);
  padding: 12px 12px 8px 12px;
}

.container {
  height: 400vh;
}

.hero {
  display: flex;
  height: 100vh;
  justify-content: center;
}

.hero-container {
  display: flex;
  align-items: center;
  padding-right: clamp(0px, 15vw, 200px);
}

.hero-line {
  font-size: 6rem;
  font-size: clamp(4rem, 10vw, 6rem);
  font-weight: 600;
  letter-spacing: -0.045em;
  word-spacing: 0.1em;
}

/*


.landing {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 50vh;
  align-items: center;
}

.landing img {
  width: clamp(100px, 20vw, 150px);
  height: auto;
  flex-grow: 1;
}

.landing header,
.cta {
  display: flex;
  align-items: center;
}

.landing header {
  flex-grow: 2;
}

.cta a:hover,
.cta a:focus-visible {
  background-color: rgb(70, 70, 70);
}

@media (min-width: 810px) {
  .cta {
    order: 1;
    flex-grow: 1;
    justify-content: right;
    margin-left: auto;
  }

  .landing {
    padding: 0 48px;
  }

  .landing header {
    order: 2;
    flex-grow: 1;
  }

  .hero {
    order: 3;
  }
}

/*.background-video::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(153, 102, 51, 0.55);
  pointer-events: none;
}*/