/* Variable definitions */
:root {
  --color: rgb(0, 0, 0);
  --background-color: rgb(255, 255, 255);
  --landing-height: clamp(900px, 180cqw, 1200px);
  --landing-width: calc(var(--landing-height) * 16 / 9);
  --standard-width: clamp(320px, 100%, 600px);
}


/* Elements */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: var(--color);
  background-color: var(--background-color);
}

main,
section {
  height: 100%;
  width: 100%;
}


/* Landing video and USA map */
.landing-background-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.landing-background {
  width: 100%;
  container-type: size;
  height: var(--landing-height);
  overflow: clip;
  display: flex;
  flex-direction: column;
}

.shift-right {
  /* margin-left uses parent's dimensions; transform uses own dimensions */
  margin-left: clamp(50%, 80%, calc(50% + 270px));
  transform: translateX(calc(-0.31 * 100cqh * 16 / 9));
}

.landing-media {
  height: 100%;
  container-type: size;
  aspect-ratio: 16/9;
}

.landing-media * {
  height: 100%;
  width: auto;
}

.chimney-gray {
  background-color: rgb(146, 146, 146);
}

.gradient-background {
  background: url("/gray-to-white-grainy.png");
  background-size: auto 100%;
  background-repeat: repeat-x;
}

.top-left-position {
  position: absolute;
  top: 0;
  left: 0;
}


/* Navigation bar */
#sentinel {
  position: absolute;
  top: 0;
  height: 1px;
  width: 1px;
}

.navbar-container {
  position: fixed;
  width: 100%;
  top: 0;
  /*backdrop-filter: blur(4px);*/
}

.navbar {
  max-width: 1200px;
  padding-top: 32px;
  padding-bottom: 12px;
  padding-left: 10px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-container {
  position: relative;
  width: 176px;
  height: 46px;
  padding: 8px;
}

.brand {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 8px;
}

.wordmark {
  width: clamp(120px, 20vw, 160px);
  height: auto;
}

.logo {
  height: 30px;
  width: auto;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.2s ease;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.2s ease;
}


/* Landing Content */
.landing-container {
  height: var(--landing-height);
  width: 100%;
}

.landing {
  height: clamp(60%, 100vh, 100%);
  display: flex;
  flex-direction: column;
}

.hero {
  height: 50%;
  display: flex;
  align-items: end;
  justify-content: center;
}

.hero-line {
  font-size: clamp(2rem, 8vw, 4rem);
  font-weight: 600;
  letter-spacing: -0.045em;
  word-spacing: 0.1em;
}

.email {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.email-field {
  padding: 10px;
  backdrop-filter: blur(4px);
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  font-family: inter;
  /* right, down, fade, size */
  box-shadow: 0px 0px 20px -5px rgb(255, 255, 255);
  border: none;
}

.email-cta {
  display: block;
  font-weight: 500;
  font-family: inter;
  background-color: var(--color);
  color: var(--background-color);
  border: none;
  border-radius: 15px;
  cursor: pointer;
  text-decoration: none;
  padding: 10px;
}


/* Explainers */
.explainer-line {
  font-size: clamp(1.4rem, 5.6vw, 2.8rem);
  font-weight: 400;
  letter-spacing: -0.045em;
  word-spacing: 0.1em;
}


/* Explainer: polluters */
.polluters-line {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
  /* The div must go down to NYC, at 17% of the map height */
  height: calc(0.83 * var(--landing-height));
}

.polluters-line-container {
  padding-right: 30px;
  padding-top: 100px;
}

.polluters-example {
  display: flex;
  justify-content: center;
  width: 100%;
}

.polluters-example-container {
  margin-left: min(20vw, 250px);
  margin-top: 30px;
  position: relative;
}

.polluters-example-image {
  width: clamp(200px, 25vw, 250px);
  height: auto;
  border-radius: 25px;
  box-shadow: -15px -15px 3px 0px rgb(255, 255, 0);
}

.polluters-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
}

.percentage45-margin-top {
  margin-top: 45%;
}

.percentage10-margin-top {
  margin-top: 10%;
}

.percentage2-margin-top {
  margin-top: 2%;
}

.polluters-info p {
  color: white;
  font-size: clamp(0.8rem, 1.5vw, 1.0rem);
}